
@{
    ViewBag.Title = "Index";
}


<div class="container">

    <table>



        <tr>
            <form class="form-group" method="post">
                <td><input type="text" placeholder="İşemri No / Seri No" class="form-control" /></td>
                <td><input type="text" placeholder="Üretim Aşama veya İstasyon" class="form-control" /></td>
                <td><input type="text" placeholder="Çalışan" class="form-control" /></td>
                <td><input type="text" placeholder="Hat Bilgisi" class="form-control" /></td>
                <td><input type="text" placeholder="Müşteri Bilgisi" class="form-control" /></td>
                <td><input type="text" placeholder="Voltaj Bilgisi" class="form-control" /></td>
                <td><input type="text" placeholder="Kayıp Zaman" class="form-control" /></td>
            </form>
        </tr>




    </table>



</div>